.box-work {
  background-color: #f5f5f5;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  overflow-y: scroll;
  padding: 0.5rem;
  border: 2px solid #0eb17d;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.box-work::-webkit-scrollbar {
  width: 5px;
}

.box-work::-webkit-scrollbar-thumb {
  background: #363636;
  border-radius: 10px;
}

.box-title {
  width: 100%;
  text-align: center;
}

.p-title {
  color: #0c855f;
  font-size: 1.2rem;
  text-align: center;
}

.result {
  width: 100%;
  height: auto;
  padding: 5px;
  margin-top: 1.5rem;
  display: grid;
  gap: 10px;
}

.result-work {
  background-color: #0eb17d;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-work:hover {
  transform: scale(1.01);
}

span {
  color: #f0f0f0;
}

.container-icons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon-arrow {
  color: #f7f7f7;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1rem;
}

.icon-arrow:hover {
  transform: perspective(5px) scale(1.3);
}

.icon-close {
  color: rgb(248, 245, 245);
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1.1rem;
}

.icon-close:hover {
  transform: perspective(5px) scale(1.3);
}

.icon-plus {
  display: none;
}
@media (max-width: 655px) {
  .header-title {
    position: fixed;
    bottom: 0;
    z-index: 100;
    height: 0rem;
    transition: 0.4s;
    background: none;
  }
  .icon-plus {
    display: block;
    position: absolute;
    top: -1.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 2rem;
    color: #20f8a2;
    cursor: pointer;
    transition: 0.3s;
  }

  .icon-plus:hover {
    transform: translateY(-5px);
  }

  .header-title.show {
    height: 7rem;
    background-color: #0c855f;
  }

  .header-title.header-title.show .header-input {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }

  .header-input {
    opacity: 0;
  }

  .title {
    position: absolute;
    bottom: 38rem;
    color: #0c855f;
    /* background-color: #b5f0dd; */
    padding: 0.5rem;
    font-size: 0.9rem;
    display: none;
  }

  .container-box {
    flex-direction: column;
    top: 4rem;
  }

  .box-work {
    height: 11rem;
    background-color: #272626;
    border: none;
    box-shadow: none;
  }

  .p-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: #20f8a2;
  }

  span {
    color: #181717;
  }

  .icon-arrow {
    color: #181717;
  }

  .icon-close {
    color: rgb(201 16 16);
  }
}
